@using QuanLyNhaHang.Models
@model NhanVien
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}

<div class="container">
    <div class="page-title-container">
        <div class="row g-0">
            <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                    <h1 class="mb-0 pb-0 display-4" id="title">Chi Tiết</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5">
        <h2 class="small-title">Thông Tin Chi Tiết Sản Phẩm</h2>
        <div class="card mb-2">
            <div class="row g-0 card-body">
                <div class="col">
                    <div class="ps-4">
                        <div class="row mb-1">
                            <div class="col">
                                <div class="heading text-primary mb-1">Họ Tên: @Model.TenNhanVien</div>
                                <div class="mb-3">Tên Đăng Nhập: @Model.TaiKhoanNV</div>
                                <div class="mb-3">Mật Khẩu NV: @Model.MatKhauNV</div>
                                <div class="mb-3">Ngày Sinh: @string.Format("{0:dd/MM/yyyy}", Model.NgaySinh)</div>
                                <div class="mb-3">Loại Nguyên Liệu: @Model.SoDienThoai</div>
                                <div class="mb-3">Quyền: @Model.Quyen.TenQuyen</div>
                            </div>
                            <div>
                                <a href="/NhanVien/NhanVien/DSNhanVien" class="btn btn-danger">Trở Về</a>
                                <a href="/NhanVienKho/NguyenLieu/CapNhat?iMaNguyenLieu=@Model.TaiKhoanNV" class="btn btn-primary">Cập Nhật</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

